body {
    /* background: #e0e7ee !important; */
    background: #e9f1fa !important;
}

/* mobile navbae */
@media (min-width: 1180px) {
    .mobile-header {
        display: none !important;
        height: 0 !important;
        opacity: 0 !important;
    }
    .willy-mobile-navbar {
        display: none !important;
    }
    .desktop-header {
        opacity: 1 !important;
    }
}
.mobile-header {
        position: sticky !important;
        height: 67px;
        top: 0 !important;
}
    #mobileToggle {
        background: transparent;
        border: none;
    }

    .mob {
        position: relative;
        background-color: #e9f1faef;
        padding: 24px;
        left: -1500px;
        width: 80%;
    }
    .show-mobile {
        left: -10px !important;
    }

    /* tablet */
    @media (max-width: 780px){
        .search-box-tablet {
            display: none !important;
        }
    }
    @media (min-width: 780px){
        .search-box-mobile {
            display: none !important;
        }
    }



/* desktop navbar */
@media (max-width: 1180px) {
    .willy-desktop-nav {
        display: none !important;
        overflow: hidden !important;
        padding: 0 !important;
        height: 0 !important;
        opacity: 0 !important;
    }
}
.mobile-header, .willy-desktop-nav {
    position: sticky !important;
    padding: 6px;
    background: #e9f1faef;
    top: 0 !important;
}
.willy-li-item {
    font-size: 0.9em;
    color: #2f4f4f;
}
.willy-search-box {
    width: 18em;
}
.search-bar {
    width: 100%;
    border-radius: 50px;
    border: 2px solid #2f4f4f;
}