body {
    padding: 0;
    margin: 0;
    /* background: #e0e7ee !important; */
    /* background: #e9f1fa !important; */
}
.promo{
  position: relative;
  height: 60px;
  overflow: hidden;
}

.promo a{
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: rotateAds 9s infinite;
}

.promo a:nth-child(1){ animation-delay:0s; }
.promo a:nth-child(2){ animation-delay:3s; }
.promo a:nth-child(3){ animation-delay:6s; }

@keyframes rotateAds{
  0%{opacity:0;}
  10%{opacity:1;}
  30%{opacity:1;}
  40%{opacity:0;}
  100%{opacity:0;}
}
/* mobile navbae */
@media (min-width: 1235px) {
    .mobile-header {
        display: none !important;
        height: 0 !important;
        opacity: 0 !important;
    }
    .willy-mobile-navbar {
        display: none !important;
        z-index: 666 !important;
    }
    .desktop-header {
        opacity: 1 !important;
    }
}
.mobile-header {
        position: sticky !important;
        height: 83px;
        top: 0 !important;
    z-index: 998 !important;
}
    #mobileToggle {
        background: transparent;
        border: none;
    }

    .mob {
        position: relative;
        background-color: #e9f1faef;
        padding: 24px;
        left: -1500px;
        width: 80%;
        transition: 0.4s ease;
    }
    .show-mobile {
        left: -10px !important;
    }



/* desktop navbar */
@media (max-width: 1235px) {
    .willy-desktop-nav {
        display: none !important;
        overflow: hidden !important;
        padding: 0 !important;
        height: 0 !important;
        opacity: 0 !important;
    }
}
.mobile-header, .willy-desktop-nav {
    position: sticky !important;
    padding: 6px;
    background: #e9f1faef;
    top: 0 !important;
}
.willy-li-item {
    font-size: 0.9em;
    color: #2f4f4f;
    transition: 0.4s;
    padding: 25px 10px;
}
.active-page {
    color: #000;
    border-bottom: 2px solid #000;
}
.willy-li-item:hover {
    color: #000;
    border-bottom: 2px solid #000;
}
.rotate-svg {
    transition: transform 0.4s ease-in-out;
    transform: rotate(0deg);
    display: inline-block;
}
.willy-li-item:hover .rotate-svg {
    transform: rotate(180deg);
    color: #000;
}

.willy-search-box {
    position: relative;
    width: 18em;
}
.willy-search-icon {
    cursor: pointer;
}
.search-bar {
    width: 100%;
    border-radius: 50px;
    border: 2px solid #2f4f4f;
    padding-right: 5rem !important;
}
/*mobile swarch bar*/
.mobile-willy-search {
   width: 98%;
    padding-bottom: 5px; 
    display: none;
    padding-top: 5px;
    background: #e9f1faef;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
}
.mobile-search-fn {
    display: flex !important;
}
.mobile-will-search-input div {
       display: flex;
}
input#searchBarMW {
    padding: 5px 10px 5px 15px;
    border: 2px solid #333;
    border-right: none;
    font-size: 18px;
    width: 14rem;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.mobile-will-search-input button {
    padding: 5px 10px;
    font-size: 18px;
    border: 2px solid #333;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: none;
}
.remove-mob-search-ico {
    display: none !important;
}