.mobile-header, .desktop-header {
    background: #f5e9e9ec;
    z-index: 999;
}
#close-menu {
    display: none;
}
.closed-menu {
    display: block !important;
}
@media (min-width: 990px) {
    .mobile-header {
        display: none !important;
        opacity: 0 !important;
    }
    .desktop-header {
        opacity: 1 !important;
    }
}
@media (max-width: 990px) {
    .desktop-header {
        opacity: 0 !important;
    }
}